<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delft Ludo game</title>
    <link rel="stylesheet" href="/stylesheets/splash.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  </head>
  <body class="container">
    <div class="content">
      <header class="header">
        <img
          class="header__logo"
          src="images/logo-full.png"
          alt="Delft Ludo logo"
        />
      </header>
      <nav class="navigation">
        <ul>
          <li class="navigation__btn">Play</li>
          <li class="navigation__btn">Rules</li>
        </ul>
      </nav>
      <main>
        <div class="statistics">
          <ul class="statistics__list">
            <li class="statistics__item">
              Players:
              <ul>
                <li>in-game: 6</li>
                <li>waiting: 1</li>
              </ul>
            </li>
            <li class="statistics__item">Games played today: 12</li>
            <li class="statistics__item">Fastest victory: 1:23</li>
          </ul>
        </div>
        <div></div>
      </main>
    </div>
  </body>
</html>
