<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delft Ludo game</title>
    <link rel="stylesheet" href="/stylesheets/splash.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  </head>
  <body class="container">
    <div class="content">
      <header class="header">
        <img
          class="header__logo"
          src="images/logo-full.png"
          alt="Delft Ludo logo"
        />
      </header>
      <!-- <span class="size-alert">You are seeing the website below the recommended screen resolution. Consider playing the game on a different device.</span> -->
      <nav class="navigation">
        <ul>
          <li class="navigation__btn">
            <a href="/play" class="navigation__link">Play</a>
          </li>
          <li class="navigation__btn">
            <a href="/rules" class="navigation__link">Rules</a>
          </li>
        </ul>
      </nav>
      <main>
        <div class="statistics">
          <ul class="statistics__list">
            <li class="statistics__item">
              Players:
              <ul>
                <li>in-game: <%= playersOnline %></li>
                <li>waiting: <%= playersWaiting %></li>
              </ul>
            </li>
            <li class="statistics__item">Games played: <%= gamesPlayed %></li>
            <li class="statistics__item">Fastest victory: <%= fastestVictory %></li>
          </ul>
        </div>
        <div></div>
      </main>
    </div>
  </body>
</html>
